a, .btn{
    -webkit-transition: background-color 300ms ease, color 300ms ease, border 500ms;
    -moz-transition: background-color 300ms ease, color 300ms ease, border 500ms;
    -o-transition: background-color 300ms ease, color 300ms ease, border 500ms;
    -ms-transition: background-color 300ms ease, color 300ms ease, border 500ms;
    transition: background-color 300ms ease, color 300ms ease, border 500ms;
}