$dark-grey-darken: #2a2a2a;
.dark-grey-darken{
    background-color: $dark-grey-darken;
}

$dark-grey-lighten: #5a5a5a;
.dark-grey-lighten{
    background-color: $dark-grey-lighten;
}

$light-grey: #f3f3f3;
.light-grey{
    background-color: $light-grey;
}

$blue: #37586b;
.blue{
    background-color: $blue;
}

$blue-darken: #073855;
.blue-darken{
    background-color: $blue-darken;
}

$blue-lighten: #1396e2;
.blue-lighten{
    background-color: $blue-lighten;
}