.nav-pills{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li{
        display: block;
        a{
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: $dark-grey-darken;
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: $blue-lighten;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        &.active{
            a{
                background-color: $light-grey;
                border-right: 2px solid $blue-darken;
                -webkit-box-shadow: 0px 1px 2px 0px rgba(204,204,204,0.75);
                -moz-box-shadow: 0px 1px 2px 0px rgba(204,204,204,0.75);
                box-shadow: 0px 1px 2px 0px rgba(204,204,204,0.75);
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 100%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 0 4px 5px;
                    border-color: transparent transparent transparent $blue-darken;
                    top: 50%;
                    margin-top: -4px;
                }
            }
        }
        &.active{
            &:hover{
                cursor: default;
                a{
                    background-color: $light-grey;
                    border-right: 2px solid $blue-darken;
                    &:after{
                        border-color: transparent transparent transparent $blue-darken;
                    }
                }
            }
        }
        &:hover{
            a{
                background-color: transparent;
                border-right: 2px solid $blue-lighten;
                &:after{
                    border-color: transparent transparent transparent $blue-lighten;
                }
            }
        }
    }
}

.pagination{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    @include clearfix;
    li{
        float: left;
        a{
            text-decoration: none;
            display: inline-block;
            color: $dark-grey-lighten;
            padding: 15px 19px;
            border-top: 5px solid $light-grey;
            &:hover{
                border-color: $blue-lighten;
                color: $blue-lighten;
            }
        }
        &.active{
            a{
                border-color: $blue-darken;
                color: $blue-darken;
            }
        }
        &.hover{
            a{
                border-color: $blue-lighten;
                color: $blue-lighten;
            }
        }
    }
}