body, html{
    font: 14px/1.5 'Roboto', sans-serif;
}

// headlines
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, .h1{
    font-size: 36px;
    font-weight: 100;
}

h2, .h2{
    font-size: 30px;
    font-weight: 300;
}

h3, .h3{
    font-size: 24px;
    font-weight: 700;
}

h4, .h4{
    font-size: 18px;
    font-weight: 700;
}

h5, .h5{
    font-size: 18px;
    font-weight: 300;
}

h6, .h6{
    font-size: 14px;
    font-weight: 300;
}

// paragraphs
p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
    margin-top: 0;
}

// links
a{
    color: #1396e2;
    text-decoration: underline;
    color: #666666;
    &:hover{
        color: $blue-lighten;
    }
}

// lists
ul, ol{
    color: #666666;
}
